{% if obj_type == "issue" %}
    {% set final_url = resolve_front_url("issue", obj.project.slug, obj.ref) %}
    {{ _("Changed Issue: ") }} <a href="{{final_url}}">#{{obj.ref}}: {{obj.subject}}</a>
{% elif obj_type == "task" %}
    {% set final_url = resolve_front_url("task", obj.project.slug, obj.ref) %}
    {{ _("Changed Task: ") }} <a href="{{final_url}}">#{{obj.ref}}: {{obj.subject}}</a>
{% elif obj_type == "userstory" %}
    {% set final_url = resolve_front_url("userstory", obj.project.slug, obj.ref) %}
    {{ _("Changed User Story: ") }} <a href="{{final_url}}">#{{obj.ref}}: {{obj.subject}}</a>
{% elif obj_type == "wikipage" %}
    {% set final_url = resolve_front_url("wiki", obj.project.slug, obj.slug) %}
    {{ _("Changed Wiki Page: ") }} <a href="{{final_url}}">{{obj.slug}}</a>
{% elif obj_type == "milestone" %}
    {% set final_url = resolve_front_url("taskboard", obj.project.slug, obj.slug) %}
    {{ _("Changed Sprint: ") }} <a href="{{final_url}}">{{obj.name}}</a>
{% endif %}
{% if change.comment %}<br><b>Comment by {{ change.user.name }}:</b> {{ change.comment}}{% endif %}
<br>