{% if field_name == "points" %}
    {% for role, points in values.items() %}
        <b>{{ role }} role points</b>
        <br><b>From:</b> "{{ points.0 }}"
        <br><b>To:</b> "{{ points.1 }}"
        <br>
    {% endfor %}
{% elif field_name == "attachments" %}
    {% if values.new %}
        {% for att in values['new']%}
            <b>{{ _("Added new attachment") }}:</b> <a href="{{ att.url }}">{{ att.filename }}</a> {% if att.description %}{{ att.description }}{% endif %}
        {% endfor %}
    {% endif %}

    {% if values.changed %}
        {% for att in values['changed'] %}
            <b>{{ _("Updated attachment") }}:</b> <a href="{{ att.url }}">{{ att.filename }}</a> {% if att.changes.is_deprecated %} {% if att.changes.is_deprecated.1 %}<i>{{ _("deprecated") }}</i>{% else %}<i>{{ _("not deprecated") }}</i>{% endif %}{% endif %}{% if att.changes.description %}{{ att.changes.description.1 }}{% endif %}
        {% endfor %}
    {% endif %}
    {% if values.deleted %}
        {% for att in values['deleted']%}
            <b>{{ _("Deleted attachment") }}:</b> {{ att.filename }}
        {% endfor %}
    {% endif %}
{% elif field_name in ["tags", "watchers"] %}
    <b>{{ field_name|title }}</b>
    <br><b>From:</b> "{{ ', '.join(values.0) }}"
    <br><b>To:</b> "{{ ', '.join(values.1) }}"
{% elif field_name in ["description", "content", "blocked_note"] %}
    <b>{{ field_name.replace("_", " ") }}</b>
    {% if values.0 %}<br><b>From:</b> "{{ values.0 }}"{% endif %}
    <br><b>To:</b> "{{ values.1 or "empty" }}"
{% elif field_name == "assigned_to" %}
    <b>Assigned to</b>
    <br><b>From:</b> {% if values.0 != None and values.0 != "" %} {{ values.0 }} {% else %} {{ _("Unassigned") }} {% endif %}
    <br><b>To:</b> {% if values.1 != None and values.1 != "" %}{{ values.1 }} {% else %} {{ _("Unassigned") }} {% endif %}
{% elif field_name == "custom_attributes" %}
    {% if values.new %}
        {% for att in values.new %}
            <b>{{ att.name|title }}</b>
            <br><b>To:</b> "{{ att.value }}"
        {% endfor %}
    {% endif %}
    {% if values.changed %}
        {% for att in values.changed %}
            <b>{{ att.name|title }}</b>
            <br><b>From:</b> "{{ att.changes.value.0 }}"
            <br><b>To:</b> "{{ att.changes.value.1 }}"
        {% endfor %}
    {% endif %}
    {% if values.deleted %}
        {% for att in values.deleted %}
            <b>{{ att.name|title }}</b> <i>{{ _("deleted") }}</i>
        {% endfor %}
    {% endif %}
{% else %}
    <b>{{ field_name|title }}</b>
    <br><b>From:</b> "{{ values.0 }}"
    <br><b>To:</b> "{{ values.1 }}"
{% endif %}
