|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/hipchat', '''
div(contrib-hipchat-webhooks, ng-controller="ContribHipChatAdminController as ctrl")
    header
        h1(tg-main-title)

    form
        label(for="url") HipChat webhook url
        div.contrib-form-wrapper
            fieldset
                input(type="text", name="url", ng-model="hipchathook.url", placeholder="HipChat webhook url", id="url", data-type="url")
            fieldset.contrib-test
                a.button-gray(href="", title="Test", ng-show="hipchathook.id" ng-click="ctrl.testHook()")
                    span Test

        button(type="submit", class="hidden")
        a.button-green.submit-button(href="", title="Save", ng-click="ctrl.updateOrCreateHook(hipchathook)")
            span Save

    a.help-button(href="https://www.hipchat.com/docs/apiv2/method/create_webhook", target="_blank")
        span.icon.icon-help
        span How to create a HipChat webhook
|''')]);
